<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
      <meta charset="utf-8">
      <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
      <link rel="stylesheet" href="style.css">
      <title>Boolzapp</title>
  </head>
  <body>
    <div id="root">
      <!-- top menu -->
      <div class="topMenu">
        <!-- top menu right -->
        <div class="topMenuRight">
          <img src="img/avatar_1.jpg" alt="">
          <h2>Nome Utente</h2>
          <div class="topMenuRightIcons">
            <i class="fas fa-circle-notch"></i>
            <i class="fas fa-comment-alt"></i>
            <i class="fas fa-ellipsis-v"></i>
          </div>
        </div>
        <!-- top menu left -->
        <div class="topMenuLeft">
          <img src="img/avatar_1.jpg" alt="">
          <div class="topMenuLeftInfo">
            <h2>Nome Utente</h2>
            <p>Ultimo accesso alle</p>
          </div>
          <div class="topMenuRightIcons">
            <i class="fas fa-search"></i>
            <i class="fas fa-paperclip"></i>
            <i class="fas fa-ellipsis-v"></i>
          </div>
        </div>
      </div>

      <!-- right menu -->
      <div class="rightMenu">
        <div class="notification">
          <i class="fas fa-bell-slash"></i>
          <div>
            <h3>Ricevi notifiche di nuovi messaggi</h3>
            <a href="#">Attiva notifiche desktop</a>
          </div>
        </div>
        <div class="search">
          <i class="fas fa-search"></i>
          <input placeholder="Cerca o inizia una nuova chat" type="text" name="" value="">
        </div>
        <div class="chats">
          <div v-for="(usersElemento, index) in users" class="singlechat">
            <div>
              {{usersElemento}}
            </div>
          </div>
        </div>
      </div>

      <!-- message -->
      <div class="message">
        <div>
          <div v-for="(listaElemento, index) in lista" class="userMessage"><a href="#"><i @click="remove(index)" class="fas fa-check"></i></a>{{listaElemento}}</div>
        </div>
      </div>

      <!-- bottom menu -->
      <div class="bottomMenu">
        <i class="far fa-smile"></i>
        <input @keyup.enter= "add" type="text" v-model="testo" placeholder="Scrivi un messaggio">
        <i class="fas fa-microphone"></i>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="main.js"></script>
  </body>
</html>
